.wrapper{
    width:100%;
}
.head{
    width: 100%;
    height:750px;
    background-image: url("../img/head.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.darker{
    padding-top: 50px;
    width: 100%;
    height:100%;
    background-color: rgba(16, 18, 24, 0.63)
}
.menu{
    width: 100%;
    height: 26px;
    padding-right: 100px;
    padding-left: 300px;
    font-family: 'Montserrat', sans-serif;
}
.menu > ul {
display: flex;
justify-content: flex-end;
}
.menu > ul> li {
    flex: 2;
    display: flex;
    justify-content: center;
}
.menu > ul a {
    color: white;
    text-decoration: none;
    font-size:23px;
}
.menu > ul a:hover {
    font-size: 30px;
    color: rgb(115, 208, 245);
}
.baseInfo{
    width: 100%;
    height: 825px;
    background-color: #2C2C2C;
  }
.company{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 63px;
    font-size: 52px;
    padding-left: 124px;
    padding-top: 130px;
}
.description{
    padding-left: 124px;
    padding-top: 12px;
    line-height: 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
  }
.subscribe{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    padding-left: 124px;
    padding-top: 47px;
    line-height: 34px;
    font-weight: 500;
    font-size: 28px;
}
.Infoblock{
    display: flex;
    flex-wrap: wrap;
    width: 345px;
    height: 142px;
    box-shadow: 4px 4px 4px rgba(229, 229, 229, 0.18);
    background-color: white;
    border-radius: 6px;
}
.blockwrap{
    display: flex;
    position: relative;
    width: 100%;
    top: -72px;
}
.block{
    flex: 1;
    display: flex;
    justify-content: center;
}
.textBlock{
    display: flex;
    flex-wrap: wrap;
    margin-top: 39px;
    margin-bottom: 43px;
    width: 100%;
  }
  .textBlock>a{
    display: flex;
    padding-left: 28px;
    padding-right: 29px;
    font-size: 18px;
    text-decoration: none;
    color: #397C8F;
    font-family:'Montserrat', sans-serif;
  }
  .strela{
    display: flex;
      margin-right: 42px;
      margin-left: 248px;
  }
.baseInfo{
    width: 100%;
    height: 925px;
    background-color: #2C2C2C;
}
.title{
    font-size: 32px;
    padding-top: 206px;
    font-family:'Montserrat', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .text{
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 24px;
    font-family:'Montserrat', sans-serif;
    text-align: center;
  }
  .svg{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 41px;
  }
  .conteiner{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 80px;
}
.title-2{
    font-size: 32px;
    padding-top: 148px;
    font-family:'Montserrat', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
  }
.objects{
    display: grid;
    width: 100%;
    height: 750px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;
}
.photo1{
    position: relative;
    background-image: url(/1.png);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.photo2 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url(/img/2.png);
}
.photo3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url("/img/3.png");
}
.photo4 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
    background-image: url("/img/4.png");
}
.photoLabel{
    margin:30px;
    margin-top: 200px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.contacts{
    width: 100%;
    height: 1071px;
    background-color: rgb(139, 38, 190);
  }
.footer{
    width: 100%;
    height: 750px;
    background-color: blueviolet;
}
.burger{ 
    display: none; 
    } 
    @media (max-width: 1024px){
    .blockwrap{ 
    display: none; 
    } 
    .menu{ 
    display: none; 
    } 
    .burger{ 
    display: inline-block; 
    margin-left: 20px; 
    } 
    .burger > span{ 
    width: 25px; 
    height: 2px; 
    border: 2px solid white; 
    border-radius: 3px; 
    background-color: white; 
    display: block; 
    margin-bottom: 5px; 
    }
}